<div  ng-show="!vm.isAdmin">
  Looks like you made a wrong turn! Go back <a href="/">home</a>. :)
<div>
<div  ng-show="vm.isAdmin">

<br />
<br />
<div class="row">
  <div class="col-md-5 col-md-offset-4">
<span class='lucky'>List Books by location</span>
<br />
  <table class="table table-striped table-bordered table-hover table-condensed">
            <tr ng-repeat="site in vm.sites ">
                <td>{{site.name}}</td>
                <td>{{site.state}}</td>
                <td><a href="/sitedetails/{{site._id}}">FIND BOOKS</a></td>

            </tr>
    </table>

        <br />
        <br />

<span class='lucky'>Or Browse all Books:</span>
<br />
<table class="table table-striped table-bordered table-hover table-condensed">
            <tr ng-repeat="book in vm.books ">
                <td>{{book.author}}</td>
                <td>{{book.title}}</td>
                <td><a ng-click="remove()">delete book</a></td>

            </tr>
        </table>
    </div>
</div>
</div>
