.header {
    text-align: center;
    height: 200px;
   background-image: url("http://i.imgur.com/gFU1vpJ.png");
   background-repeat:no-repeat;
   background-position:center;
   background-size: 100%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.lucky {
  font-family: 'Luckiest Guy', cursive;
}

body {
  background-image: url("http://i.imgur.com/VSaVKR0.jpg");
  backgrond-color: purple;
}
